@font-face {
  font-family: "Tobias Light";
  src: url("../tobias-light-maisfontes.227e/tobias-light.ttf");
}

* {
  font-family: "Tobias Light";
  background-image: url("https://lynnandtonic.com/assets/images/bg-grain-dark.png");
  background-color: rgb(250, 246, 231);
  background-size: 350px auto;
  background-repeat: repeat;
}

.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid goldenrod;
}

.header div {
  padding: 20px;
  flex-grow: 1;
}

nav a {
  background-color: inherit;
  margin-right: 30px;
}

.logo {
  border-right: 1px solid goldenrod;
  text-align: center;
}

.nav {
  border-right: 1px solid goldenrod;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.intro {
  border-bottom: 1px solid goldenrod;
  padding: 20%;
  background-color: #87cefa;
  margin-bottom: 0px;
}

.intro h1,
h3,
p {
  background-color: #87cefa;
}

.projects {
  display: flex;
  justify-content: center;
}

.projects h3 {
  text-align: left;
  padding: 2% 0% 0% 10%;
  padding: 20%;
}

.projects * {
  background-color: inherit;
}

.project {
}

.tech-stack {
  margin: 20px;
  padding: 20px;
}

.tech-stack svg {
  max-width: 30px;
  padding: 10px;
  padding-bottom: 0px;
}

iframe {
  margin-left: 40px;
  border-radius: 5px;
  width: 700px;
  height: 500px;
}

.footer {
  padding: 10%;
  background-color: #e0ffff;
}
