@font-face {
  font-family: "Tobias Light";
  src: url("../tobias-light-maisfontes.227e/tobias-light.ttf");
}

* {
  font-family: "Tobias Light";
  background-image: url("https://lynnandtonic.com/assets/images/bg-grain-dark.png");
  background-color: rgb(250, 246, 231);
  background-size: 350px auto;
  background-repeat: repeat;
  text-decoration: none;
}

.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid goldenrod;
}

.header div {
  padding: 20px;
  flex-grow: 1;
}

nav a {
  background-color: inherit;
  margin-right: 30px;
}

a {
  color: #0fa2fd;
}

a:hover {
  text-decoration: underline solid #d0b530;
}

.logo {
  border-right: 1px solid #d0b530;
  text-align: center;
}

.nav {
  border-right: 1px solid #d0b530;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.intro {
  border-bottom: 1px solid #d0b530;
  padding: 20%;
  background-image: url("https://i.gifer.com/embedded/download/GIWH.gif");
  background-size: cover;
  margin-bottom: 0px;
}

.intro h1 {
  font-size: 50px;
  color: #f8f8f8;
}

.intro h1,
h3,
p {
  background-color: transparent;
}
.stack {
  padding: 10px;
  border-radius: 5px;
  margin: 20px;

  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.projects h3 {
  text-align: left;
  padding: 2% 0% 0% 10%;
  padding: 20%;
}

.projects * {
  background-color: inherit;
}

.project {
}

.tech-stack svg {
  max-width: 30px;
  padding: 10px;
  padding-bottom: 0px;
}

iframe {
  margin-left: 40px;
  border-radius: 5px;
  width: 700px;
  height: 500px;
}

.about {
  border-top: 1px solid #d0b530;
}

.about img {
  padding: 0.5px;
  border-bottom: 1px solid #d0b530;
  margin-top: 10px;
}

p {
  background-color: inherit;
}

.about-section {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #d0b530;
  font-size: 40px;
}

.me {
  max-width: 300px;
}

.bio {
  border: 1px solid #d0b530;
  border-top: none;
  border-bottom: none;
  padding: 20px;
  font-size: 20px;
}
.tech-stack {
  grid-area: skills;
}

.stack svg {
  max-width: 50px;
}

.skills {
  background-color: inherit;
}

.skill {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
  border-radius: 5px;
  background-color: #87cefa;
  flex-grow: 1;
  color: #f8f8f8;
}

.skill h4 {
  background-color: #87cefa;
  font-size: 20px;
}

.skill img {
  max-width: 60px;
  height: 50px;
  margin: 10px;
  padding: 20px;
  background-color: #87cefa;
}

.footer {
  padding: 10%;
  background-color: #e0ffff;
}
